# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage

# turbo
.turbo

# build output
dist/
build/
.next/
out/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (local environment variables should never be committed)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# Prisma
/prisma/data.db
/prisma/data.db-journal

# Temporaries
tmp/
temp/
